body {
    background-image: url("../images/turtles_minimalism.jpg");
    width: 100%
}

.header {
    font-size: 43px;
    font-style: underline;
    color: rgb(248, 150, 2);
    text-align: center;
    margin-top: 2%;
    margin-left: 10%;
    margin-right:10%;
    padding: 15px;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
}

h2 {
    font-family: 'Play', sans-serif;
    font-size: 30px;
    padding-top: 10px;
    color: rgb(255, 5, 5);
}


img {
    margin: 10px;
}


.playingscreen {
    padding: 5px;
    position: relative;
    border: solid 2px rgb(138, 230, 63);
    margin-bottom: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    font-weight: bold;
    color: rgb(138, 230, 63);
    background-color: black;
} 

span {
    border: solid red 2px;
    padding-left: 5px;
    padding-right:5px;
    background-color:black; 
    font-size: 15px;
}

.background {
    background-image: url("../images/brick.jpg");
    border: solid 5px rgb(5, 160, 250);
    text-align: center;
    margin-top: 2%;
    margin-left: 10%;
    margin-right:10%;

}

.container {
    background-color: white;
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5px;
    text-align: center;
    border: solid 3px rgb(146, 4, 146);
}

#wordGuess {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 30px;
    color:red;
    font-family:'Permanent Marker', cursive;
}

#scoreboard {
    padding: 20px;
}